<%- include('./includes/header.ejs') %>
<%- include('./includes/nav.ejs') %>

<body>
  
  <main>
    
  <% if (blogEntries.length > 0) { %>
    <% for (let blog of blogEntries) { %>
    <div class="blog-card">
      <article class="blog-snip">
        <h2 class="blog-list-title"><a href="/blogs/<%= blog.id %>"><%= blog.title %></a></h2>
        <p><%= blog.item1 %></p>
        <!-- <p><%= blog.item2 %></p>
          <p><%= blog.item3 %></p> -->
          <h4><%= blog.tags %></h4>
          <h5><%= blog.createdAt %></h5>
        
      </article>
    </div>
      <% } %>
      <% } else { %>
        <h1>no blogs to see</h1> 
        <% } %>
      <button class="btn"><a href="/all-blogs">all blogs</a></button>
      

</main>
    </body>