<%- include('./includes/header.ejs') %>
<%- include('./includes/nav.ejs') %>

<body class="blog-page">
<div class="blog-page-card">
  <article>
    
  <div>
    <h1 class="blog-title"><%= blog.title %></h1>
  </div>
  <div>
    <p class="blog-item"><%= blog.item1 %></p>
  </div>
  <div>
    <p class="blog-item"><%= blog.item2 %></p>
  </div>
  <div>
    <p class="blog-item"><%= blog.item3 %></p>
  </div>
  <div>
    <h4 class="tags"><%= blog.tags %></h4>
  </div>
  <div>
    <h5><%= blog.createdAt %></h5>
  </div>
  <button class="btn">
    <a href="/edit-blog/<%= blog.id %>?edit=true" >edit</a>
  </button>
  
  
</article>
</div>

  
</body>